:root {
    --logo-size: 5rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: norse-bold;
    src: url(./fonts/Norse-Bold.otf);
}

#container {
    display: flex;
}

body div {
    height: 100vh;
}

#left-section {
    width: 30vw;
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
}

#main-section {
    width: 70vw;
}

#logo {
    height: 15vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    top: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo>span {
    font-size: var(--logo-size);
    font-family: norse-bold, sans-serif;
}

img {
    width: var(--logo-size);
}